# virtual environments
/venvs

# data
/data

# Python Related
__pycache__/
.pytest_cache/

# secrets
.secrets

# Training checkpoints, logs, and models
checkpoints/*
logs/*
models/*
outputs/*

# Testing Data
tests/data/Chunk_1/
